page-home {
  ion-content{
    ion-icon {
      font-size: 50px;
      color: #cc050f;
      text-align: center;
      content-align: ce

    }
    .title_card{
      text-align: center;
      width: 100%;
      font-weight: bold;
      border-bottom: thin solid grey;
    }
    .cant_card{
      text-align: center;
      width: 100%;
      padding-top: 0.5em;

    }
    .icon_center{
      text-align: center;
    }
  }

}
