<!--
  Generated template for the SponsorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar *ngIf="!search">-->
    <!--<ion-row>-->
      <!--<ion-item (click)="setSearch()">Attendees-->
        <!--<ion-icon name="ios-search" item-right></ion-icon>-->
      <!--</ion-item>-->
    <!--</ion-row>-->
  <!--</ion-navbar>-->
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)"
                   (ionCancel)="onCancel($event)" placeholder="Search for attendees" autocomplete="true"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let speaker of attendees" (click)="openSpeakerDetail(speaker)">
      <ion-avatar item-left>
      <img src="{{speaker.picture}}"/>
      </ion-avatar>
      <h2>{{speaker.Name}}</h2>
      <p>{{speaker.Company}}</p>
    </button>
  </ion-list>
  <!--<ion-list>-->

  <!--<button ion-item *ngFor="let sponsor of sponsors" (click)="send()">-->
  <!--&lt;!&ndash;<ion-avatar >&ndash;&gt;-->
  <!--<ion-row class="sponsor_card">-->
  <!--<img src="{{sponsor.picture}}"/>-->
  <!--</ion-row>-->

  <!--&lt;!&ndash;</ion-avatar>&ndash;&gt;-->
  <!--&lt;!&ndash;<h2>{{speaker.name}}</h2>&ndash;&gt;-->
  <!--&lt;!&ndash;<p>{{speaker.title}}</p>&ndash;&gt;-->
  <!--</button>-->

  <!--</ion-list>-->
</ion-content>
